html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
	color: #aaaaaa;
    background: #262626;
    font: -apple-system-body;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
} 

img{ 
	max-width:100%; 
}

a {
	overflow-wrap: break-word;
	word-wrap: break-word;
    color: gray;
}

.button {
    border-radius: 4px;
    background-color: transparent;
    color: #aaaaaa;
    border: 1px solid #aaaaaa;
    font: -apple-system-subheadline;
}

blockquote {
    display: block;
    margin-left: 10px;
    padding-left: 5px;
    border-left: 1px dotted gray;
} 

.user {
	height: 60px;
}

.righttext {
	text-align: right;
    font: -apple-system-subheadline;
}

.avatar {
    height: 38px;
    border-radius: 50%;
}

div#image.usertable {
	float: left;
	width: 15%;
}

.lefttext {
    text-align: left;
    font: -apple-system-subheadline;
}

div#text.usertable {
    float:left;
    width: 85%;
	font: -apple-system-subheadline;
}

.refresh {
	text-align: center;
	padding : 20px;
}

.refresh-button {
	background: url(https://i.imgur.com/i3fPsTh.png);
	background-size: cover;
	border: 0px;
	width: 35px;
	height: 35px;
}

.refresh-button:active {
	transform: scale(0.9,0.9);
}

.usertable {
    height: 32px;
}

.comment {
    display: block;
    border-top: 1px dashed #454545;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1, h2, h3 {
    display: inline-block;
}

.h1 {
    font: -apple-system-title0;
}

.h2 {
    font: -apple-system-title1;
}

.h3 {
    font: -apple-system-title2;
}
