:root {
    color-scheme: light dark;
    --comment-color: #ffffff;
    --button-color: #666666;
    --quote-color: #bbbbbb;
    --border-color: #bbbbbb;
    --seperator-color: #f0f0f0;
}
@media (prefers-color-scheme: dark) {
    :root {
        --comment-color: #202020;
        --button-color: #aaaaaa;
        --quote-color: #666666;
        --border-color: #454545;
        --seperator-color: #000000;
    }
}

html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
    font: -apple-system-body;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: var(--seperator-color);
} 

img{ 
	max-width:100%; 
}

a {
	overflow-wrap: break-word;
	word-wrap: break-word;
    color: gray;
}

.button {
    border-radius: 4px;
    background-color: transparent;
    color: var(--button-color);
    border: 1px solid var(--button-color);
    font: -apple-system-footnote;
}

blockquote {
    display: block;
    margin-left: 10px;
    padding-left: 5px;
    border-left: 1px dotted var(--border-color);
}

.user {
	height: 60px;
}

.righttext {
	text-align: right;
    font: -apple-system-footnote;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

div#image.usertable {
	float: left;
	width: 15%;
}

.lefttext {
    text-align: left;
    font: -apple-system-footnote;
}

div#text.usertable {
    float:left;
    width: 83%;
	font: -apple-system-footnote;
}

.refresh {
	text-align: center;
	padding : 20px;
}

.refresh-button {
  padding: 15px 20px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.refresh-button:hover {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.usertable {
    height: 32px;
}

.comment {
    display: block;
    border-top: 5px solid var(--seperator-color);
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--comment-color);
    /*border-radius: 10px;*/
}

.quoteName {
    font: -apple-system-footnote;
    color: var(--quote-color);
}

h1, h2, h3 {
    display: inline-block;
}

.h1 {
    font: -apple-system-title0;
}

.h2 {
    font: -apple-system-title1;
}

.h3 {
    font: -apple-system-title2;
}
